services:
  hadoop-namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-namenode
    environment:
      - CLUSTER_NAME=hadoop
    ports:
      - "9871:9870"
      - "9000:9000"
    volumes:
      - hadoop_data:/hadoop/dfs/namenode
    command: tail -f /dev/null

  hadoop-datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-datanode
    environment:
      - CLUSTER_NAME=hadoop
      - NAMENODE_URI=hdfs://hadoop-namenode:9000
    depends_on:
      - hadoop-namenode
    volumes:
      - hadoop_data:/hadoop/dfs/datanode
    command: tail -f /dev/null

  data-exporter:       
    build: .           
    container_name: data-exporter
    depends_on:
      - hadoop-namenode
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=postgresdb
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
    volumes:
      - ./data:/Hadoop/data
    networks:
      - infra-net

volumes:
  hadoop_data:

networks:
  infra-net:
    external: true
